body{
    margin: 0;
}

#box1{
    background-color: aqua;
    
}

.box{
    border: 5px solid;
    width: 100px;
    height: 100px;
    font-size: 40px;
    line-height: 100px;
    text-align: center;
    /* margin: 50px 0px 50px 50px; */
    margin: auto;

}

#box2{
   
    background-color: burlywood;
}